<!doctype html>
<html>
	<head>
		<title>BATTLE FOOLS!</title>
		<link rel=stylesheet href="css/battle.css" />
		<script id="session-data" type="application/json">
			<%- JSON.stringify({"user": {
				"id": user.id,
				"login": user.login,
				"gravatar": user.gravatar
			}}).replace(/<\//g, '<\\/>') %>
		</script>
		<script>
			var require = {
				baseUrl: 'js',
				paths: {
					ace: 'libs/ace/ace',
					cjs: 'libs/cjs',
					pilot: 'libs/ace/pilot/lib/pilot',
					text: 'libs/requirejs/text'
				}
			};
		</script>
		<script src="js/libs/jquery.js"></script>
		<script src="js/libs/underscore.js"></script>
		<script src="js/libs/backbone.js"></script>
		<script src="js/libs/showdown.js"></script>
		<script src="js/libs/jquery.js"></script>
		<script src="js/libs/jquery.tmpl.js"></script>
		<script src="socket.io/socket.io.js"></script>
		<script src="js/libs/requirejs/require.js"></script>
		<script src="js/libs/nodeunit.js"></script>
		<script>
			require(['battle/bootstrapper'], function(bootstrapper) {
				$(function(){
					var session = JSON.parse($('#session-data').text());

					bootstrapper.init({
						el: $('body'),
						session: session
					});
				});
			});
		</script>
	</head>
	<body>
	</body>
</html>
