<!doctype html>
<html>
	<head>
		<title>BATTLE FOOLS!</title>
		<link rel=stylesheet href="css/battle.css" />
	</head>
	<body>
		<div id=container>
		</div>
		<script>
			var require = {
				baseUrl: 'js',
				paths: {
					ace: 'libs/ace/ace',
					pilot: 'libs/ace/pilot/lib/pilot',
					text: 'libs/requirejs/text'
				}
			};
		</script>
		<script src="js/libs/jquery.js"></script>
		<script src="js/libs/underscore.js"></script>
		<script src="js/libs/backbone.js"></script>
		<script src="js/libs/jquery.js"></script>
		<script src="js/libs/requirejs/require.js"></script>
		<script>
			require(['battle/bootstrapper'], function(bootstrapper) {
				bootstrapper.init({
					el: $('#container')
				});
			});
		</script>
	</body>
</html>
