<!DOCTYPE html>
<html>
<head>
	<title>JS Ninja Battle</title>
	<link rel="stylesheet" href="/css/home.css" type="text/css"/>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25392332-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<script id="battle-tmpl" type="text/x-jquery-tmpl">
		<a {{if state.trim()==="waiting"}} href="/${id}"{{/if}}>
			<div class="in-progress">{{if state === 'fighting'}}Battle In Progress{{/if}}</div>
			<ul class="userList inlineList">
			{{each users}}
				<li>
					<img class="profile" width="64" height="64" src="https://secure.gravatar.com/avatar/${$value.gravatar}?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="${$value.login}" />
				</li>
			{{/each}}
			</ul>
		</a>
	</script>
	<div id="user">
		<% if(user) { %>
		Hey there, <%= user.login %>! (<a href="/logout">Log out</a>)
		<% } else { %>
		<a href="/auth/github">Log in with GitHub</a>
		<% } %>
	</div>
	<h1>JS Ninja Battle!</h1>
	<div id="main">
		<div id="info">
			<p>
				<b>JS Ninja Battle</b> is the arena to showcase and hone your Javascript skillz through various coding challenges - compete against friends, enemies or strangers in real-time.
			</p>
			<p>
				<b>Lay the smackdown</b> on some devs - create or join a game to the right!
			</p>
			<iframe id="vote-button" src="http://nodeknockout.com/iframe/notmysegfault"></iframe>
		</div>
		<div id="battles">
			<h2>Join a battle</h2>
			<ul id="openbattles">
				<li class="footer"><span id="nothingDoing">No active battles. </span><a href="/begin">Start your own</a>!</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		Created by <a href="https://twitter.com/omni5cience" target="_blank">Sam Epstein</a>, <a href="http://aidanfeldman.com" target="_blank">Aidan Feldman</a>, <a href="http://twitter.com/sidnicious" target="_blank">Sidney San Martin</a> and <a href="http://davidpadbury.com/" target="_blank">David Padbury</a> for <a href="http://nodeknockout.com/" target="_blank">Node Knockout</a> #2.
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5/backbone-min.js"></script>
	<script src="/js/libs/jquery.tmpl.js"></script>
	<script src="/js/lobby.js"></script>
</body>
</html>
