<!DOCTYPE html>
<html>
<head>
	<title>BATTLE NO EXIST IDIOT</title>
	<script type="text/javascript">
		window.setTimeout(function(){
			window.location = '/';
		}, 4000);
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25392332-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<h1>BATTLE NO EXIST IDIOT</h1>
	<p>You are being redirected to the <a href="/">homepage</a>...</p>
</body>
</html>
