<!DOCTYPE html>
<html>
<head>
	<title>Test runner</title>
	<script>
		var require = {
			baseUrl: 'js',
			paths: {
				cjs: 'libs/cjs',
				text: 'libs/requirejs/text',
				wordCount: 'challenges/word_count'
			}
		};
	</script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="js/libs/requirejs/require.js"></script>
	<script src="js/libs/nodeunit.js"></script>
	<script src="js/battle.js"></script>
</head>
<body>
	<h1 id="challenge-name"></h1>
	<div id="challenge-description"></div>
	<hr/>
	<textarea id="code-input" rows="20" cols="80"></textarea>
	<span class="num-tests-passing"></span>
	/
	<span class="num-tests"></span>
</body>
</html>
