pre {
	margin-left: 20px;
	/* copied from ACE's editor.css */
	font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace;
}

#header ul li {	
	display: inline;
}

#header ul li img.profile {
	width: 20px;
	height: 20px;
}

body {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	
	display: box;
	display: -moz-box;
	display: -webkit-box;
	
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
}

#main {
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	
	display: box;
	display: -moz-box;
	display: -webkit-box;
	
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
}

#main #workbench {
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	
	position: relative;
}

#editor,
#editor #ace-host {
	width: 100%;
	height: 300px;
}

#editor #ace-host {
	position: absolute;
}

#editor .ace_gutter {
	visibility: hidden;
}

#main #info {
	width: 325px;
	padding: 0 20px;
}

.errors ul li {
	list-style-type: none;
}

.errors ul li:before {
	content: ' ✖ ';
	color: red;
}

.errors ul li .test {
	font-weight: bold;
}

.errors ul li .test:after {
	content: ' : ';
}
