pre {
	margin-left: 20px;
	font-family: Monaco, serif;
}

#header ul li {	
	display: inline;
}

#header ul li img.profile {
	width: 20px;
	height: 20px;
}

#container {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

#workbench {
	-webkit-box-flex: 1;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

#workbench #editor {
	position: relative;
	-webkit-box-flex: 1;
}

#workbench #editor #ace-host {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0; right: 0;
	top: 0; bottom: 0;
}

#workbench #editor #ace-host .ace_gutter {
	visibility: hidden;
}

#workbench #info {
	padding: 0 20px;
	width: 20%;
}

.errors ul li {
	list-style-type: none;
}

.errors ul li:before {
	content: ' ✖ ';
	color: red;
}

.errors ul li .test {
	font-weight: bold;
}

.errors ul li .test:after {
	content: ' : ';
}
