body{
	font: 18px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin: 0;
	padding: 2em;
}
h1{
	margin-top: 0;
	border-bottom: 1px solid black;
	padding: 0.2em 0;
}
#user{
	float: right;
	line-height: 3em;
}
h2{
	text-align: center;
	margin-bottom: 0.8em;
	font-size: 1.1em;
}

#main {
	display: box;
	display: -moz-box;
	display: -webkit-box;
	
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
}

#main #info {
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	
	padding-right: 30px;
}

#vote-button {
	width: 120px;
	height: 25px;
	border: none;
}

#openbattles{
	border: 1px solid #CCC;
	background: #F3F3F3;
	box-shadow: inset 0 0 0.5em #BBB;
	width: 25em;
	margin: 0 auto;
	border-radius: 1em;
	list-style: none;
	padding: 0;
}
#openbattles>li{
	margin: 0;
}
#openbattles>li.battle>a, #openbattles>li.footer{
	display: block;
	padding: 1em;
	color: inherit;
	text-decoration: none;
}
#openbattles>li.battle>a:not([href]){
	color: #999;
}
#openbattles>li.battle>a:not([href]) .in-progress{
	font-weight: bold;
	text-align: center;
}
#openbattles>li.battle:not(:last-child)>a, #openbattles>li.footer:not(:last-child){
	border-bottom: 1px solid #CCC;
}
#openbattles>li.footer{
	text-align: center;
}
#openbattles>li.footer:not(:first-child)>#nothingDoing{
	display: none;
}
ul.inlineList{
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.inlineList>li{
	display: inline;
}
ul.userList>li:first-child{
	font-weight: bold;
}
ul.userList>li:first-child::after{
	font-weight: normal;
}
ul.userList>li img {
	margin: 5px;
	border: solid 2px white;
	padding: 2px;
}

#footer {
	margin-top: 50px;
	
	font-size: 0.8em;
	text-align: center;
}